.work-outer {
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     /* top: 50%; */
     /* -webkit-transform: translate(-50%, -50%); */
     /* transform: translate(-50%, -50%); */
}

.work-container {
     background-image: url("/public/liquid3.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;
     width: 100%;
     display: table;
}

.work-title {
     color: #ffffff;
     font-family: "League Spartan";
     font-size: min(8vw, 80px, 8vh);
     font-weight: 800;
     line-height: min(8vw, 80px, 8vh);
     font-optical-sizing: auto;
     font-style: normal;
}

.work-slogan {
     color: #ffffff;
     font-family: "Urbanist";
     font-size: min(4vw, 40px);
     line-height: min(6vw, 60px);
     align-self: center;
     font-optical-sizing: auto;
}